pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  background: #303446;
}

.hljs,
.hljs-subst {
  color: #c6d0f5;
}

.hljs-selector-tag {
  color: #85c1dc;
}

.hljs-selector-id {
  color: #8caaee;
  font-weight: bold;
}

.hljs-selector-class {
  color: #8caaee;
}

.hljs-selector-attr {
  color: #8caaee;
}

.hljs-property {
  color: #99d1db;
}

.hljs-selector-pseudo {
  color: #99d1db;
}

.hljs-addition {
  background-color: rgba(166, 209, 137, 0.5);
}

.hljs-deletion {
  background-color: rgba(231, 130, 132, 0.5);
}

.hljs-built_in,
.hljs-type {
  color: #8caaee;
}

.hljs-class {
  color: #8caaee;
}

.hljs-function {
  color: #99d1db;
}

.hljs-title.hljs-function,
.hljs-function>.hljs-title {
  color: #99d1db;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol {
  color: #85c1dc;
}

.hljs-number {
  color: #ca9ee6;
}

.hljs-regexp {
  color: #f4b8e4;
}

.hljs-string {
  color: #a6d189;
}

.hljs-title {
  color: #8caaee;
}

.hljs-params {
  color: #c6d0f5;
}

.hljs-bullet {
  color: #85c1dc;
}

.hljs-code {
  color: #8caaee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-formula {
  color: #8caaee;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link:hover {
  text-decoration: underline;
}

.hljs-quote {
  color: #626880;
}

.hljs-comment {
  color: #626880;
}

.hljs-doctag {
  color: #8caaee;
}

.hljs-meta,
.hljs-meta .hljs-keyword {
  color: #5e81ac;
}

.hljs-meta .hljs-string {
  color: #a6d189;
}

.hljs-attr {
  color: #8caaee;
}

.hljs-attribute {
  color: #c6d0f5;
}

.hljs-name {
  color: #85c1dc;
}

.hljs-section {
  color: #99d1db;
}

.hljs-tag {
  color: #85c1dc;
}

.hljs-variable {
  color: #c6d0f5;
}

.hljs-template-variable {
  color: #c6d0f5;
}

.hljs-template-tag {
  color: #5e81ac;
}

.language-abnf .hljs-attribute {
  color: #99d1db;
}

.language-abnf .hljs-symbol {
  color: #f4b8e4;
}

.language-apache .hljs-attribute {
  color: #99d1db;
}

.language-apache .hljs-section {
  color: #85c1dc;
}

.language-arduino .hljs-built_in {
  color: #99d1db;
}

.language-aspectj .hljs-meta {
  color: #ea999c;
}

.language-aspectj>.hljs-title {
  color: #99d1db;
}

.language-bnf .hljs-attribute {
  color: #8caaee;
}

.language-clojure .hljs-name {
  color: #99d1db;
}

.language-clojure .hljs-symbol {
  color: #f4b8e4;
}

.language-coq .hljs-built_in {
  color: #99d1db;
}

.language-cpp .hljs-meta .hljs-string {
  color: #8caaee;
}

.language-css .hljs-built_in {
  color: #99d1db;
}

.language-css .hljs-keyword {
  color: #ea999c;
}

.language-diff .hljs-meta {
  color: #8caaee;
}

.language-ebnf .hljs-attribute {
  color: #8caaee;
}

.language-glsl .hljs-built_in {
  color: #99d1db;
}

.language-groovy .hljs-meta:not(:first-child) {
  color: #ea999c;
}

.language-haxe .hljs-meta {
  color: #ea999c;
}
